.content {
	//margin-bottom: $boxMargin;
	color: $lightBlue;
	 
	.title-banner,
	.archive-description {
		text-align: center;
		height: 4em;
		
		.entry-title,
		.archive-title {
			font-family: $brand;
			display: inline-block;
			color: $lightBlue;
			font-weight: normal;
			margin: .25em 0; 
		}
	
		.archive-title {
			text-transform: capitalize;
		}
	
	@include screen-immobile {
		text-align: left;
	}
	}
	
	.wrap {
		background: $baseWhite;
		color: $superDarkBlue;
		padding: 1em;
		border-color: $aqua;
		border-style: solid;
		border-width: 2px;
		min-height: 500px;
	
	@include screen-immobile{
		border-width: 4px;
	}
	}


@include screen-immobile{
	
}
}