.content-sidebar-wrap {
	border-color: $brightAccent;
	border-style: solid;
	border-width: 2px;
	
	.content {
		color: $darkNeutral;
		margin: 1px;
		margin-right: 0;
		padding: 1em;
		min-height: 600px;

		.archive-description {
			text-align: center;
			height: auto;
			background: $brandBlueLight;
			margin: -1em -1em 1em -1em;
			padding: 1em;
			
			.entry-title,
			.archive-title {
				font-family: $brand;
				color: $baseWhite;
				font-weight: normal;
				margin: 0 0 .5em; 
				text-indent: 5px;
			}
		
			.archive-title {
				text-transform: capitalize;
				color: blue !important;
			}
		
		@include screen-immobile {
			text-align: left;
			margin: -2em -2em 2em -2em;
		}
		}
	
		.archive-pagination {
			text-align: center;
			
			a {
				color: $brandBlue;
				padding: .25em;
				text-decoration: none;
				background: $brandBlueLight;
				border: 1px solid $brandBlue;
				border-radius: 3px;
				
			&:hover{
				background: $brandBlue;
				color: $baseWhite;
			}
			
			}
			  
			ul {
			  list-style: none;
			  
			  li {
				  display: inline-block;
			  }
			}
		}
	
	@include screen-immobile {
		padding: 4em;
	}
	}//.content

@include screen-immobile{
	border-width: 4px;
}
}//.content-sidebar-wrap