.content-sidebar-wrap {
	border-color: $brandBlue;
	border-style: solid;
	border-width: 2px;
	
	.content {
		color: $darkNeutral;
		margin: 1px;
		margin-right: 0;
		padding: 1em;
		min-height: 600px;

		.archive-description {
			text-align: center;
			height: auto;
			
			.entry-title,
			.archive-title {
				font-family: $brand;
				color: $baseWhite;
				font-weight: normal;
				margin: 0 0 .5em; 
				text-indent: 5px;
			}
		
			.archive-title {
				text-transform: capitalize;
			}
		
		@include screen-immobile {
			text-align: left;
			height: 4em;
		}
		}
	
		.archive-pagination {
			text-align: center;
			
			  ul {
				  list-style: none;
				  
				  li {
					  display: inline-block;
				  }
			  }
		}
	
	@include screen-immobile {
		padding: 2em;
	}
	}//.content

@include screen-immobile{
	border-width: 4px;
}
}//.content-sidebar-wrap