.entry {

	/* ====== Copy Elements		*/
	/* ------ Headers 			*/
	
	h2 {
		color: $darkNeutral;
	}
	
	h3 {
		color: $brightAccent;
	}
	
	/* ------ Content Elements	*/

	ul {
		list-style: square; 
		padding-left: 1em;
	
	&.custom-icon{
		list-style: none inside;
		
		li::before { color: $brightAccent;margin-right: 10px; }
	
	&.icon-checkmarks { li::before{ content: '\2713';font-size: 1.5em; } }
	&.icon-triangles { li::before{ content: '\25B6';font-size: .9em; } }
	}// .custom-icon
	}// ul
	
	ul, ol {
		margin-left: 1em;
	
		li {
			
			ul { list-style: disc; }
		}
	}// ul, ol

	strong {
		font-weight: 600;
	}
	
	blockquote {
		background: $brandBlueLight;
		padding: .25em 1em;
		margin: 1em 0 3em;
		border-radius: 5px;
		color: $darkNeutral;
		
		h4 { color: $brandBlue; }
		
		ul, ol { margin-left: 0;}
	}	
	
	img {
		display: block;
		
	&.responsive {
		max-width: 100%;
		height: auto;
	}
	}
	
	/* ------ Interface		*/
	.btn,
	button {
		background: $brandBlue;
		color: $brandBlueLight;
		padding: .5em 1em;
		border-radius: 4px;
		border-width: 2px;
		border-style: solid;
		border-color: $brandBlueLight;
		text-decoration: none;
		font-style: normal;
		white-space: nowrap;
		text-align: center;
		cursor: pointer;
		line-height: 1;
		
	&.btn-download {
		background: $orange;
		background: 
		linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, .2) 50%, rgba(255,255,255, 0) 50%),
		linear-gradient(to top, $orange, $orangeLight), $orange;
		transition: border-color 250ms linear, color 250ms linear;
		color: $orangeText;
		border: 2px solid $orange;
		letter-spacing: 1px;
		text-shadow: 1px 1px 2px $orangeDark;
	
	&:hover{
		border-color: $orangeLight;
		color: $baseWhite;
	}
	}//.btn-download
	&.btn-rounded { border-radius: 5px;}
	&.btn-caps { text-transform: uppercase; }
	&.btn-ucase { text-transform: capitalize; }
	&.btn-shadow { box-shadow: 0px 1px 2px #333; }
	
	&:hover{
		background: $brightAccent;
		border-color: $medNeutral;
		color: $baseWhite;
	}
	}// button, .btn
	
	
	.close-btn{
		font-size: 1.75em;
		text-align: left;
		
	&::before {
		cursor: pointer;
		content: '\00D7'; //x symbol
	}
	}//.close-btn
	
	/* ------   Form   */
	
	.wpcf7-form {
		
	@include screen-immobile {
		max-width: 500px;
	}
	}
		
	/*  Named anchors */
	
	a[name]  {
	@include screen-small {
	&::before{
		  content:'';
		  display:block;
		  height: 7em;
		  margin-top: -5em;
		}	
	}
	}
	
	/*  anchors */
	
	.section-controls {
		font-family: $sans;
		font-weight: 300;
		list-style: none;
		padding: 0;
		margin: 1em 0;
		overflow: hidden;
		color: $brandBlue;
		
		li {
		display: block;
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
			
			a {
		 	text-decoration: none;
		 	
		 	&:hover {
			 	text-decoration: underline;
		 	}
			}
		
		&.prev { @include triangle('left'); }
		&.next { @include triangle('right'); }
		&.top { @include triangle(); }
		}
	}
	
	/* ------ 	Components		------ */
	
	.flex-content {
		display: flex;
		flex-flow: column nowrap;
	
		.column {
			margin-bottom: 1em;
			flex: 1;
			
		&.thirds-two{
			flex: 2;
			padding-left: 1em;
		}
		}
 
	&.valign-center{ align-items: center; }
	&.valign-top{ align-items: flex-start; }
	&.valign-bottom{ align-items: flex-end; }
	
	@include screen-immobile{
		flex-flow: row nowrap;
	}
	}//.flex-content
 
	.well {
		background-color: $brightAccent;
		padding: 1em;
		color: #FFF;
	
	&.well-rounded{
		border-radius: 5px;
	}
	}
	
	.stars {
		display: inline-block;
		background-image: url($goldStar);
		background-position: left center;
		background-repeat: repeat-x;
		width: 120px;
		height:22px;
		
		& .stars-4 &{
			width: 96px;
		}
	}
	
		
	/* ====== Subsections		*/
	/* ------ Entry Header		*/
	
	.entry-header {

		.featured-image {
			margin: -2em -2em 0 -2em;
			overflow: hidden;
		}
	
	@keyframes move{
		
		from {
			opacity: .25;
			transform: scale(1.5) translate(0,0);
		}
		to {
			opacity: .75;
			transform: scale(.9) translate(-15%,-25%);
		}
	}
	

	}//.entry-header

	/* ------ Entry Content		*/
	.entry-content {

		a {
			color: $brandBlue;
		&:hover{ color: $brightAccent; }
		}
		
		h2 {
		
		&:first-of-type{
			margin-top: 0;
		}
		}
		
		.entry-meta {
			color: $medNeutral;
			
			.entry-readmore,
			.entry-categories {
				color: $medNeutral;
			}
			
			.entry-categories {
			 
				a {
				&::after {
					content: ' Tips';
				}
				}	
			}
			
			a {
				text-decoration: underline;
				text-transform: capitalize;
				color: $medNeutral;
			
			&:hover {
				color: $darkNeutral;
			}
			}
		}

	}

	/* ------ Entry Footer		*/
	
	.entry-footer {
		padding: 1em;
		margin-top: 1em;
		background-color: $brandBlue;
		color: $brandBlueLight;
		border-radius: 5px;
		
		h1, h2, h3  {
			color: $baseWhite;
			margin: 0 0 .5em;
		}
		
		a {
			color: $baseWhite;
		}
	}
}//.entry