.entry {

article.type-tip,
.blog &,
.archive & {
	display: flex;
	margin-bottom: 2em;
	align-items: flex-start;
	flex-flow: column nowrap;
	
	.entry-header {
		flex: 1;
		
		.entry-image {
			max-width: 150px;
			
			.svgSprite { 
				transform: translateX(-500px); 
				
				.quote { 
				fill : $brandBlueLight;
				transition: fill 500ms ease;
				}
			}

		}//.entry-image
	
	
	@include screen-immobile{
		margin: 0 1em 0 0;
	}
	}//.entry-header
	
	.entry-content {
		flex: 3;
		color: $darkNeutral;
		
		.entry-title{
			font-size: 1.25rem;
			margin: 0 0 .5em;
			font-weight: 600;
			text-align: right;
		}
		
		p {
			line-height: 1.35;
			margin-bottom: .75em;
			text-align: justify;
		}
		
		.entry-content-footer {
			background-color: transparent;
			color: $brandBlue;
		}
		
	@include screen-immobile {
		flex: 4;
		
			.entry-title{ text-align: left;}
	}
	}//.entry-content
	
	
	
	
&:nth-child(even){
	align-items: flex-end;
	
	.entry-content {
		.entry-title{ text-align: left;}
	}
	
	
	.entry-header {
	
		.entry-image {
				.svgSprite { transform: translateX(0); }
		}
	
	@include screen-immobile {
		margin: 0 0 0 1em;
	}
	}
	
@include screen-immobile {	
	.entry-content { order: -1;	}
}
}//.entry:nth-child(even)

@include screen-immobile {
	flex-flow: row nowrap;
	align-items: center;
}
}

&:hover {

	.entry-header {
		.entry-image {
			.svgSprite { .quote { fill : $brandBlue; } }
		}	
	}
}

}//.entry