.entry {

	/* ====== Copy Elements		*/
	/* ------ Headers 			*/
	
	
	
	/* ------ Content Elements	*/

	ul {
		list-style: square; 
		padding-left: 1em;
	
	&.custom-icon{
		list-style: none inside;
		
		li::before { color: $brightAccent;margin-right: 10px; }
	
	&.icon-checkmarks { li::before{ content: '\2713';font-size: 1.5em; } }
	&.icon-triangles { li::before{ content: '\25B6';font-size: .9em; } }
	}// .custom-icon
	}// ul
	
	ul, ol {
		margin-left: 1em;
	
		li {
			
			ul { list-style: disc; }
		}
	}// ul, ol

	strong {
		font-weight: 600;
	}
	
	blockquote {
		background: $brandBlueLight;
		padding: .25em 1em;
		margin: 1em 0 3em;
		border-radius: 5px;
		color: $darkNeutral;
		
		h4 { color: $brandBlue; }
		
		ul, ol { margin-left: 0;}
		
		dl{
			
			dt {
				margin: 1.25em 0 .25em;
				color: $brandBlue;
			}
			
			dd {
				margin: 0 0;
			}
		}
	}	
	
	img {
		display: block;
		
	&.responsive {
		max-width: 100%;
		height: auto;
	}
	}
	
		
	.close-btn{
		font-size: 1.75em;
		text-align: left;
		
	&::before {
		cursor: pointer;
		content: '\00D7'; //x symbol
	}
	}//.close-btn
	
	/* ------   Form   */
	
	.wpcf7-form {
		
	@include screen-immobile {
		max-width: 500px;
	}
	}
		
	/*  Named anchors */
	
	a[name]  {
	@include screen-small {
	&::before{
		  content:'';
		  display:block;
		  height: 7em;
		  margin-top: -5em;
		}	
	}
	}
	
	/*  anchors */
	
	.section-controls {
		font-family: $sans;
		font-weight: 300;
		list-style: none;
		padding: 0;
		margin: 1em 0;
		overflow: hidden;
		color: $brandBlue;
		
		li {
		display: block;
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
			
			a {
		 	text-decoration: none;
		 	
		 	&:hover {
			 	text-decoration: underline;
		 	}
			}
		
		&.prev { @include triangle('left'); }
		&.next { @include triangle('right'); }
		&.top { @include triangle(); }
		}
	}
	
	/* ------ 	Components		------ */
	
	.flex-content {
		display: flex;
		flex-flow: column nowrap;
	
		.column {
			margin-bottom: 1em;
			flex: 1;
			
		&.thirds-two{
			flex: 2;
			padding-left: 1em;
		}
		
		}
 
	&.valign-center{ align-items: center; }
	&.valign-top{ align-items: flex-start; }
	&.valign-bottom{ align-items: flex-end; }
	
	@include screen-immobile{
		flex-flow: row nowrap;
	}
	}//.flex-content
 
	.well {
		background-color: $brightAccent;
		padding: 1em;
		color: #FFF;
	
	&.well-rounded{
		border-radius: 5px;
	}
	}
	
	.stars {
		display: inline-block;
		background-image: url($goldStar);
		background-position: left center;
		background-repeat: repeat-x;
		width: 120px;
		height:22px;
		
		& .stars-4 &{
			width: 96px;
		}
	}
	
		
	/* ====== Subsections		*/
	/* ------ Entry Header		*/
	
	.entry-header {
		

		.featured-image {
			//margin: -2em -2em 0 -2em;
			overflow: hidden;
		}
	
	
	}//.entry-header

	/* ------ Entry Content		*/
	.entry-content {

		a {
			color: $brandBlue;
		&:hover{ color: $brightAccent; }
		}
		
		h2 {
		
		&:first-of-type{
			margin-top: 0;
		}
		}
		
		.entry-meta {
			color: $medNeutral;
			
			.entry-readmore,
			.entry-categories {
				color: $medNeutral;
			}
			
			.entry-categories {
			 
				a {
				&::after {
					content: ' Tips';
				}
				}	
			}
			
			a {
				text-decoration: underline;
				text-transform: capitalize;
				color: $medNeutral;
			
			&:hover {
				color: $darkNeutral;
			}
			}
		}

	}

	/* ------ Entry Footer		*/
	
	.entry-footer {
		padding: 1em;
		margin-top: 1em;
		background-color: $brandBlue;
		color: $brandBlueLight;
		border-radius: 5px;
		
		h1, h2, h3  {
			color: $baseWhite;
			margin: 0 0 .5em;
		}
		
		a {
			color: $baseWhite;
		}
	}
}//.entry