.footer-widgets {

	.genesis-sidebar-title {	
		font-family: $brand;
		font-weight: 300;
		font-size: 1.75em;
		color: $lightBlue;
		background: $darkBlue;
		margin-top: 0;
		padding-bottom: .5em;
		
	@include screen-small{ padding-left: 1.25%; text-align: center; }
	@include screen-medium{ padding-left: 2.5%; text-align: left;}
	@include screen-large{ padding-left: 5%;}
	@include screen-full{ padding-left: calc(33% - 24px); }
	}
	
}

.site-footer {
	padding: 2em 0;
	
	p {
		color: $lightBlue;
	}
	
&.site-footer-landing{
	font-family: $open;
	font-size: 1.25em;
	padding: 0;
	
	.sitekick-logo-footer{
		max-width: 175px;
		margin: 0 auto;
	
		div {
			@include sprite-responsive-calcs(250, 100, 0, 0, 'img/sprite.png');
		}
	}
	
	.landing-footer-column{
		text-align: center;
		margin-bottom: 1em;
		
	&:nth-child(1){
		color: $lightBlue;
		font-style: italic;
	}
	&:nth-child(3){
		color: $baseWhite;
	}
	}
@include screen-immobile{
	
	.landing-footer-column{
		
	&:nth-child(1){
		text-align: left;
	}
	&:nth-child(3){
		text-align: right;
	}
	}
}
}
}