.footer-widgets {
		
	.genesis-sidebar-title {	
		font-weight: 300;
		font-size: 1.75em;
		margin: 0;
		padding-top: .5em;
		padding-bottom: .5em;
		padding-left: 0;
		text-align: center;
		
	
	@include screen-medium{ padding-left: 1rem; text-align: left;}
	@include screen-large{ padding-left: 6rem; text-align: left;}
	@include screen-full{ padding-left: 5rem; text-align: left;}
	}
	
}

.site-footer {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0;
	
	p {
		color: $brandBlueLight;
	}
	
	a {
		color: $baseWhite;
	}
	
&.site-footer-landing{
	font-family: $sans;
	font-size: 1.25em;
	padding: 0;
	
	.sitekick-logo-footer{
		max-width: 175px;
		margin: 0 auto;
	
		div {
			@include sprite-responsive-calcs(250, 100, 0, 0, 'assets/img/sprite.png');
		}
	}
	
	.landing-footer-column{
		text-align: center;
		font-family: sans-serif;
		margin-bottom: 1em;
		
	&:nth-child(1){
		color: $brandBlueLight;
		font-style: italic;
	}
	&:nth-child(3){
		color: $baseWhite;
		font-size: 1.75rem;
	}
	}
@include screen-immobile{
	
	.landing-footer-column{
		
	&:nth-child(1){
		text-align: left;
	}
	&:nth-child(3){
		text-align: right;
	}
	}
}
}
}