.title-area {
	position: relative;

	.sitekick-logo {
		min-width: 125px;
		max-width: 200px;
		margin: 0 auto 5px auto;
		
		a {
			@include sprite-responsive-calcs(250, 100, 0, 0, 'assets/img/sprite.png');
		}

	@include screen-immobile { max-width: 250px;}
	@include screen-large { 
		//margin-right: 1em;
		margin: 0 0 5px 0; 
	}
	}

	.menu-toggle {
		position: absolute;
		color: $darkNeutral;
		right: 10px;
		bottom: -2px;
		width: 38px;
		height: 38px;
		cursor: pointer;
		border-radius: 5px;
		overflow: hidden;
	
		div {
			@include sprite-responsive-calcs(50, 50, 250, 135, 'assets/img/sprite.png');
		}
	
		
	&.active {
		background: $brightAccent;
		color: $baseWhite;
		
		div {
			background-color: $brandBlue;
			@include sprite-responsive-calcs(50, 50, 250, 185, 'assets/img/sprite.png');
		}
	}
	
	@include screen-immobile {
		display: none;
	}
	}
}

.header-widget-area {
	max-height: 0;
	transition-property: max-height;
	transition-duration: 200ms;
	transition-timing-function: linear;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	justify-content: center;
	
	.widget {
		
	&.widget_nav_menu{ flex: 1 1 auto;	}
	
	&.widget_search {
		flex: 1 1 auto;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	}
		
	}//.widget
&.active {
	max-height: 1000px;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

@include screen-immobile {
	max-height: none;
	transition-property: none;
	overflow: visible;
	align-items: flex-end;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	
	.widget {
		
	&.widget_nav_menu{ 
		flex: 5 1 auto;
		}
	
	&.widget_search {
		flex: 1 1 auto;
		margin-top: 0;
		margin-bottom: 0;
		white-space: nowrap;
		text-align: right;
	} 
	}
}
}//.header-widget-area