.title-area {
	position: relative;

	.sitekick-logo {
	max-width: 200px;
	margin: 0 auto;
	
	a {
		@include sprite-responsive-calcs(250, 100, 0, 0, 'img/sprite.svg');
	

	.no-svg &{
		@include sprite-responsive-calcs(250, 100, 0, 0, 'img/sprite.png');
	}
	}

	@include screen-immobile {
		max-width: 300px;
	}
	}

	.menu-toggle {
		position: absolute;
		background-color: $darkBlue;
		color: $lightBlue;
		right: 10px;
		bottom: 0;
		width: 40px;
		height: 40px;
		font-size: 2em;
		padding: 0;
		border: 0;
		cursor: pointer;
		transition: 250ms all;
		transition-property: color, background-color;
		-moz-outline-color: red;
		
	&.active {
		background: $aqua;
		color: $baseWhite;
	}
	
	@include screen-immobile {
		display: none;
	}
	}

}





