#menu-main-menu {
	margin: .5em;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	
	/* =========== Mobile Nav ============== */
	
	> li {
		flex: 1 1 auto;
		border-radius: 6px;
		margin: .75em 0 0;
		max-height: 44px;
		transition: max-height 500ms;
		background-color: $brandBlueLight;
		
		> a {
			display: block;
			padding: .5em 0;
			color: $darkNeutral;
			text-decoration: none;
			text-align: center;
		}
	

	&:focus {
		outline: 0;
	}
	&:hover {
		background: $brandBlue;
		
		> a { color: $baseWhite; }
	}//> .li:hover
	&.current-menu-item,
	&.current-menu-ancestor {
		background: $brandBlue;
		
		> a { color: $brandBlueLight; }
	}
	&.menu-item-has-children {
		position: relative;
		overflow: hidden;
		
			.close-btn {
				position: absolute;
				display: none;
				background: none;
				border: 0;
				padding: 0;
				right: 10px;
				top: 5px;
				color: $baseWhite;
				z-index: 100;
				cursor: pointer;
				font-size: 1.5em;
			}
			
	&.active {
		max-height: 1000px;
		background: $brandBlue;
		
		> a { color: $brandBlueLight; }
		
		> .sub-menu { display: flex; }
		
		.close-btn { display: block; }
	
	&:hover { > a { color: $baseWhite; } }
	
	}// .menu-item-has-children.active
	}// .menu-item-has-children
	
	} // > li
	
	// Sub Menu
	.sub-menu {
		position:relative;
		display: none;
		flex-flow: row wrap;
		align-items: center;
		list-style: none;
		overflow: hidden;
		margin: 1em 0 0 5px;
		padding: 0;
		transition-property: none;
		
		li {
			flex: 1 1 auto;
			
			a {
				display: block;
				border-radius: 3px;
				background: $brandBlueLight;
				color: $brandBlue;
				text-align: center;
				margin-right: 5px;
				margin-bottom: 5px;
				padding: .5em 0;
				text-decoration: none;
			
			&:hover{ color: $baseWhite;}
			}
		
		&.current_page_item {
			position: relative;
			
			a {
				background: $baseWhite;
			
			&:hover{ 
				color: $brandBlue; 
			}
			}	
		}
		}
	}// .sub-menu	

	
	/* =========== Horizontal Nav ============== */
	
	@include screen-immobile {
		margin: 0;
		justify-content: space-around;
		flex-flow: row nowrap;
		max-height: none;
		overflow: visible;
		
		//Top Level
		> li {
			flex: 1 1 auto;
			display: block;
			border-radius: 0;
			max-height: none;
			transition-property: background-color;
			transition-duration: 250ms;
			transition-timing-function: ease;
			background-color: $darkNeutral;
			white-space: nowrap;
			
			> a {
				display: block;
			    padding: .6875rem .3em;
				color: $brandBlueLight;
				text-decoration: none;
				text-align: center;
				
			&:hover{
				//color: $bra;
			}
			}
		
		&:hover {
			background-color: $brandBlueLight;
			
			> a  { color: $darkNeutral; }
		}// > .li:hover
		//Top Level: Active
		&.current-menu-item,
		&.current-menu-ancestor {
			background: $brandBlue;
			
			> a  { color: $baseWhite; } 
		
		&:hover {
			> a  { color: $brandBlueLight; } 
		}
		}
		
		//Top Level: Has Submenu
		&.menu-item-has-children {
			position: relative;
			overflow: visible;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			
			.close-btn { display: none !important; }
				
		&:hover {
			
			> .sub-menu {
				transition-duration: 500ms;
				transition-timing-function: ease-in;
				max-height: 1000px;
			}
	
		}// .menu-item-has-children:hover
		}// .menu-item-has-children
		}// > .li
		
		// Sub Menu
		.sub-menu {
			background: $baseWhite;
			position: absolute; //z-index: 1000;
			display: block;
			width: 125%;
			margin: 0;
			padding: 0;
			max-height: 0;
			overflow: hidden;
			transition-property: max-height;
			white-space: normal;
			border-top: 1px solid $darkNeutral;
			
			li {
				display: block;
				flex: none;
				border-radius: 0;
				margin: 0 0;
				border: 1px solid $lightNeutral;
				border-top: 0;
							
				a {
					display: block;
					background: inherit;
					border-radius: 0;
					color: $brandBlue;
					text-align: left;
					margin-right: 0;
					margin-bottom: 0;
					padding: .5em .5em .5em 1em;
					background: inherit;
					text-decoration: none;
				
				&:hover {
					color: $baseWhite;
					background: $brandBlue;
				}
				}//a
				
			&.current_page_item {
				position: relative;
			
				a {
					background: transparent;
					text-indent: 10px;
					font-weight: 400;
					
					&:before{
						position: absolute;
						font-size: 26px;
						line-height: 32px;
						content: '»';
						top: 0;
						left: 0;
					}
				
				&:hover{ 
					background: $brandBlue; 
					color: $baseWhite;
				}
				}	
			}
			
			&:last-child { 
				border-bottom-color: $lightNeutral; 
				a { padding-bottom: .75em; } }
			}
		}// .sub-menu	
	}// immobile	
	@include screen-large { .sub-menu { width: 150%; } }
	@include screen-medium { .sub-menu { width: 175%; } }
}//#menu-main-menu