.service-plans {
	display: flex;
	flex-flow: column nowrap;
	margin: 1em 5%;
	
	a {
		color: $brandBlue;
	}
	
	.plan {
		flex: 1 0 auto;
		background-color: $baseWhite;
		border: 2px solid $brightAccent;
		padding: 1em;
		margin-bottom: 2em;
		
		h3 {
			text-align: center;
		}
		
		p {
			text-align: center;
			
			span {
				display: block;
			}
		
		&::before {
			content: '$';
		}
		}
		
		ul {
			list-style: square;
			padding: 0 0 0 1em;
			
			li {
				margin-bottom: .5em;
			
			&.marketmaster {
			
			&::after {
				content: '\2b06';
				color: #6CC417;
			}
			}
			}
		}
	
	&.webmaster {
		
		ul {
			
			li {
			
			&.marketmaster {
				display: none;
			}
			}
		}
	}
	
	@include screen-immobile{
		flex: 1 1 50%;
	}
	}//.plan
	
@include screen-immobile {
	flex-flow: row nowrap;
	margin: 2em 15%;
	
	.plan {
		margin-bottom: 0;
		
	&:nth-child(1){
		margin-right: 1em;
	}
	}
}	
}