.ui-tabs { 

	.ui-tabs-panel { 
		&:focus { outline: 0;} 
	}
	
@include screen-immobile {	
	position: relative; 
	zoom: 1; 
	
	.ui-tabs-nav { 
		margin: 0;
		padding: 0; 
		overflow: hidden;
		background: $brandBlueLight;
				
		li { 
			list-style: none; 
			float: left; 
			position: relative; 
			top: 0; 
			margin: 0; 
			border-bottom: 0; 
			padding: 0; 
			white-space: nowrap; 
			background: transparent;
			
			a { 
				float: left; 
				padding: .5em 1em; 
				text-decoration: none; 
				cursor: pointer;
				color: $brandBlue;
			
			&:hover{ color: $baseWhite;}
			&:focus {
				outline: 0;
			}
			}
		
		&.ui-tabs-active { 
			margin-bottom: -1px; 
			padding-bottom: 1px; 
			background:  $baseWhite;
			
			a { color: $brightAccent; }
		
		}
		
		&.ui-tabs-active,
		&.ui-state-disabled,
		&.ui-tabs-loading {
			
			a { cursor: text; }
		}
		}// li
	
	}
	
	.ui-tabs-panel { 
		
		
		 
		}
}//.screen-immobile	
} 

