.widget {
	//color: $baseWhite;
	font-family: $open;
	
	.widget-title {
		font-family: $brand;
		font-weight: normal;
		font-size: 1.5em;
	}

	a {
		color: $baseWhite;
	}
	
	h3 {
		font-size: 1em;
	}
	
	p {
		font-size: .875em;
	}
	
	ul {
		padding-left: .75em;
		margin-bottom: 1em;
		font-size: .875em;
		
	&.inline {
		overflow: hidden;
		list-style-position: inside;
		
		li {
			float: left;
			margin-right: 5px;
		}
	}
	}

.sidebar &{
	
	margin-bottom: $boxMargin;
	
	.widget-title{
		margin-top: 0;
	}
&.widget_tag_cloud {

@include screen-full {margin-bottom: 0;}
@include screen-large {margin-bottom: 0;}
}
&.widget_search {
	
	.search-form {
		background: $baseWhite;
	}
	
	input[id^=searchform] {
		padding: .25em;
		font-size: 1em;
		border: 0;
		width: 70%;
		display: inline-block;
		vertical-align: middle;
	}
	input[type=submit] {
		width: calc(30% - 5px);
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		background: $brightBlue;
		border: 0;
		color: $baseWhite;
		padding: 0;
		font-size: 1em;
		cursor: pointer;
	}
}

}


.footer-widget-area & {
	
	.textwidget {
		color: $lightBlue;
		font-style: italic;
		margin-bottom: 1em;
	}
}
	
}
	
.widget-wrap {
	color: $baseWhite;
		
	.sidebar-primary & {
	 	padding: 1em;
	 	background: $aqua;
	}
	
	.sidebar-secondary & {
	 	background: $brightBlue;
	 	padding: 1em;
	}
	
	.widget-quote & {
		background: $superDarkBlue;
		color: $lightBlue;
	}
	.widget-profile & {
		color: $lightBlue;
	}
}
.widget-profile {
	
	.textwidget{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	
	@include screen-full{flex-flow: column nowrap;}
	@include screen-large{flex-flow: row wrap;}
	@include screen-medium{flex-flow: row wrap;}
	}
	
	
	section {
		margin: 1em 0 .5em;
		flex: 0 1 48.5%;
		
	&.profile{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		
	}
	}
	
	.headshot {
		flex: 1;
		max-width: 135px;
		
		div{
			border: 2px solid $lightBlue;
			background-repeat: no-repeat;
			background-color: white;
			box-sizing: border-box;
			border-radius: 50%;
			@include sprite-responsive-calcs(131, 131, 250, 0, 'img/sprite.png');
		}
	}
	
	.info {
		flex: 2;
		margin-left: 10px;
		p { margin: 0;}
	}
	
}