.widget {
	
	a {
		color: $baseWhite;
	}
	
	ul {
		padding-left: .75em;
		margin-bottom: 1em;
		
	&.inline {
		overflow: hidden;
		list-style-position: inside;
		
		li {
			float: left;
			margin-right: 5px;
		}
	}
	}

.sidebar &{
	padding: 1em;
	margin-bottom: 0;
	
	.widget-title{
		margin-top: 0;
	}
	h4 {
		margin: 1em 0 .5em;
	}
}//.sidebar .widget

&.widget-profile {
	
	.textwidget{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	
	@include screen-medium { flex-flow: row wrap; }
	}
	
	section {
		margin: 1em 0 .5em;
		//flex: 0 1 48.5%;
		flex: 0 1 auto;
		
	&.profile{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	}
	
	.headshot {
		flex: 1;
		max-width: 135px;
		
		div{
			border: 2px solid $brandBlueLight;
			background-repeat: no-repeat;
			background-color: white;
			box-sizing: border-box;
			border-radius: 50%;
			@include sprite-responsive-calcs(131, 131, 250, 0, 'assets/img/sprite.png');
		}
	}
	
	.info {
		flex: 2;
		margin-left: 10px;
		p { margin: 0;}
	}
	
}

@include screen-medium {
	flex: 0 1 calc(50% - 2em);

&.screen-medium-2 {
	flex: 2 0 calc(100% - 2em);
}
}// .widget-profile

&.widget_tag_cloud {
	text-transform: capitalize;
	font-weight: 300;
	line-height: 1.5;
	
	a {
		padding: .1em;
	}
}

&.widget_search {
	
	.widget-wrap {
		display: inline-block;
		
		.search-form {
			background: $darkNeutral;
			padding: .1875rem;
			cursor: pointer;
			white-space: nowrap;
			border-left: 1px solid $darkNeutral;
			
			input[type=search] {
				padding: .6875rem 5px .6875rem 0;
				border: 0;
				display: inline-block;
				vertical-align: middle;
				background: inherit;
				color: $brandBlue;
				cursor: inherit;
				max-width: 75px;
				text-align:center;
				transition-property: all;
				transition-duration: 250ms;
				
				
			&::placeholder {
				color: $brandBlueLight;
				opacity: 1;
			}
			&:focus {
				outline: 0;
			}
			}
		
			input[type=submit] {
				display: none;
				vertical-align: middle;
				background-color: $brandBlue;
				border: 0;
				color: $baseWhite;
				padding: .5em .25em;
				cursor: pointer;
			}
		&.focus {
			background-color: $brandBlueLight;
			cursor: text;
			
			input[type=search] {
				max-width: 200px;
				text-indent: 0;
				background-image: none;
				text-align:left;
			
			&::placeholder { color: $darkNeutral; }
			}
			
			input[type=submit] { display: inline-block; }
		
		}
		}//.search-form
	
	@include screen-immobile {
		display: block;
		max-width: 250px;
		text-align: center;
	}
	}//.widget-wrap
	
}//.widget_search
&.quotes-widget {
	
	.quote {
		background: $lightNeutral;
		padding: 1em;
		border-radius: 5px;

		.quote-body {
			color: $darkNeutral;
		}
		
		.quote-footer {
		 	color: $medNeutral;
		 
		 h5 {
			 margin: .75em 0 0;
		 }
		 
		 h6 {
			 margin: 0;
			 font-weight: 300;
		 }
	 }
		
	
	}
	
	
	
	
}

&.service-widget {
	color: $baseWhite;
	
	.widget-title {
		color: $brandBlueLight;
	}
	
	.widget-panels {
		display: flex;
		flex-flow: column nowrap;
	
		.panel {
			//border: 1px solid red;
			margin-bottom: 1em;
			
		&.copy{
			order: -1;
			flex: 2 1 auto;
		}	
		&.image {
			flex: 1 1 auto;
		}
		}
	
	.btn {
		background: $brandBlueLight;
		padding: .25em .5em;
		text-decoration: none;
		color: $brandBlue;
	}
	
	
	@include screen-immobile{
		flex-flow: row nowrap;
	}
	}
}	
}//. widget