@mixin screen-small {
  @media screen and (max-width: #{$screen-medium}) {
    @content;
  }
}


@mixin screen-medium {
  @media screen and (min-width: #{$screen-small}) and (max-width: #{$screen-large}) {
    @content;
  }
}

@mixin screen-large {
  @media screen and (min-width: #{$screen-large}) and (max-width: #{$screen-full}) {
    @content;
  }
}

@mixin screen-full {
  @media screen and (min-width: #{$screen-full}) {
    @content;
  }
}

@mixin screen-immobile {
  @media screen and (min-width: #{$screen-small}) {
    @content;
  }
}

@mixin sprite-responsive-calcs($imgWidth, $imgHeight, $spriteX, $spriteY, $path){
	/* Params:
		$imgWidth: width of image on the sprite file
		$imgHeight: height of image on the sprite file
		$spriteX: horizontal position of image on the sprite file 
		$spriteY: vertial position of image on the sprite file
		$spriteWidth: width of the sprite file (sass variable)
		$spriteHeight: height of the sprite file (sass variable)
		$path: path to sprite file.
	*/
	
	display: block;
	content: "";
	background-image: url('#{$path}');
	background-position-x: if(  $spriteWidth != $imgWidth, ( $spriteX / ($spriteWidth - $imgWidth) ) * 100%, 0  );
	background-position-y: if(  $spriteHeight != $imgHeight, ( $spriteY / ($spriteHeight - $imgHeight) ) * 100%, 0  );
	background-size:  $spriteWidth / $imgWidth * 100%;
	padding-bottom:  $imgHeight / $imgWidth  * 100%;
	width: 100%;
	height: 0;
}



@mixin spanFullWidth {
	margin: 0 auto;
	width: 100%;
	background: $superDarkBlue;
	
	.wrap {
		margin: 0 auto;
		width: 80%;
	
	@include screen-large{ width: 90%; }
	@include screen-medium { width: 95%; }
	}	
}