/* Fonts */ 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Lora:400,400i,700,700i');
//Open+Sans:300,400,400i,600

@font-face {
	font-family: Sitekick;
	src: url('assets/font/UniformRegular.woff2');
	src: url('assets/font/UniformRegular.woff') format('woff'),
		 url('assets/font/UniformRegular.otf') format('otf');
};

$brand : 'Sitekick', sans-serif;
$sans : 'Lato', sans-serif;
$serif : 'Lora', serif;

/* Colors */
					
$darkNeutral : 		#0B3954;	//#4A4A4A;
$medNeutral : 		#BFC3BA;
$lightNeutral : 	#F3F4F2;
$brandBlue : 		#2589BD;
$brandBlueLight : 	#CEE5F2;			
$brightAccent : 	#4ECDC4;	//	#C6CA53;		//#F18F01;						
$baseWhite : 		#FFFBFE;

$orange : #F18F01;
$orangeText : #FEF9E8;
$orangeLight : #F9C202;
$orangeDark : #422701;
$red : #FF3A20;

// Viewport sizes 
$screen-full : 1440px;		//3 
$screen-large : 1024px;  	//2 col
$screen-medium : 768px;		//1,2 col
$screen-small : 600px;		//1 col

// Misc
$boxMargin : 1.5em;

//Sprite size
$spriteWidth : 385;
$spriteHeight : 235;
//svg
/*
$svgWidth : 1000;
$svgHeight : 3000;
*/
