/* Colors */

$darkBlue : #0B3954;
$lightBlue : #CEE5F2;
$brightBlue : #2589BD;
$aqua : #4ECDC4;
$baseWhite : #FFF;

// Viewport sizes 
$screen-full : 1366px;		//4 col
$screen-large : 1024px;  	//3 col
$screen-medium : 768px;		//2 col
$screen-small : 600px;		//1 col

// Misc
$boxMargin : 1.5em;

//Sprite size
$spriteWidth : 250;
$spriteHeight : 100;