/* Fonts */ 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Lora:400,400i,700,700i');
@font-face {
	font-family: Sitekick;
	src: url('assets/fonts/UniformRegular.woff2');
	src: url('assets/fonts/UniformRegular.woff') format('woff'),
		 url('assets/fonts/UniformRegular.otf') format('otf');
};

$brand : 'Sitekick', sans-serif;
$open : 'Open Sans', sans-serif;
$lora : 'Lora', serif;

/* Colors */
$superDarkBlue : #082A3D;	//rgb(8,42,61)
$darkBlue : #0B3954;
$lightBlue : #CEE5F2;
$brightBlue : #2589BD;		//rgb(37,137,189)
$aqua : #4ECDC4;			//rgb(78,205,196)
$baseWhite : #FFF;

// Viewport sizes 
$screen-full : 1440px;		//3 
$screen-large : 1024px;  	//2 col
$screen-medium : 768px;		//1,2 col
$screen-small : 600px;		//1 col

// Misc
$boxMargin : 1.5em;

//Sprite size
$spriteWidth : 385;
$spriteHeight : 135;

