body {
	margin: 0;
	padding-top: 8.5em;
	
@include screen-immobile {
	padding-top: 0;
}
}

.site-container {
	
@include screen-immobile {
	display: flex;
	padding-top: 2em;
	flex-direction: column;
}

.landing-page &{
	
@include screen-immobile {
	margin-top: $boxMargin;
}
}
}

.site-inner,
.title-banner,
.site-header,
.footer-widgets,
.site-footer {
 	margin-top: 1em;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 0;
 	width: 100%;
 	
@include screen-medium{ width: calc(100% - 2em); margin-bottom: 1em;}
@include screen-large{ width: calc(100% - 12em); margin-bottom: 6em;}
@include screen-full{ width: calc(100% - 20em); margin-bottom: 10em;}
}


.site-header .wrap,
.footer-widgets .wrap,
.site-footer .wrap, {	
@include screen-immobile {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: row;
}
}

.site-header {
	margin-top: 0;
	margin-bottom: $boxMargin;
	position: fixed; z-index: 1000;
	top: 0;
	
	.wrap {
		margin: 1em 0;
	
	@include screen-immobile{
		margin: 1em auto;
		align-items: flex-end;
		justify-content: space-between;
		
		.title-area { flex: 1; }
		
		.widget-area  { flex: 3; }
	}
	
	@include screen-medium {
		align-items: initial;		
		justify-content: initial;
		flex-direction: column;
		
		.widget-area  {
			margin-top: $boxMargin;
			}
	}
	}// .wrap

@include screen-immobile{
	position: static;
	background: none;
}

@include screen-small{ width: 100%; }

}

.title-banner{
	margin: 0 auto 0;	
	
@include screen-immobile {
	margin: 0 auto;
	}
}


.content-sidebar-wrap {
	
	.sidebar-primary { margin: 1px;}

@include screen-immobile{
	display: flex;
	justify-content: space-between;

	.content { flex: 2; overflow: hidden;}
	
	.sidebar-primary { flex: 1; }

}

@include screen-medium {
	flex-direction: column;
	justify-content: space-around;

	.content { margin-right: 0; }
	
	.sidebar-primary { 
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin-top: 0;
	}
}

.landing-page &{
	display: block;
	flex: none;
	width: 100%;
	
	.content{
		margin-right: 0;
		margin-left: 0;
		flex: none;
	}
}
}//.content-sidebar-wrap


.footer-widgets {
	margin-bottom: 0;

	.widget{ text-align: center;}

@include screen-immobile{
	@include spanFullWidth;
	
	.footer-widget-area {
			
		.widget{ text-align: left; }	
	}
	
	.footer-widgets-1  {
		flex: 3; 
		display: flex;
		align-content: flex-start;
		margin-right: $boxMargin;
			
		.widget{
			flex: 1 1;
			
			.widget-wrap { margin-left: $boxMargin;}
		
		&:first-child{ .widget-wrap {margin-left: 0;}
		}
		}
	}
		
	.footer-widgets-2 { flex: 1 0; }
}
@include screen-medium{
	
	.wrap { flex-direction: column; }
	
	.footer-widgets-1  { 
		flex: 1; 
		flex-direction: column; 
		
		.widget{
			.widget-wrap { margin-left: 0;}
		}
		}
}
}

.site-footer {

&:not(.site-footer-landing) {
@include screen-immobile{
	@include spanFullWidth;
}	
}

&.site-footer-landing{

@include screen-immobile{	
	
	.landing-footer-column { flex: 1;}
}
}	
}