body {
	margin: 0;
	padding-top: 8.5em;
	overflow: hidden;
    overflow-y: auto;
	
@include screen-immobile {
	padding-top: 0;
}
}

.site-container {
	
@include screen-immobile {
	display: flex;
	padding-top: 2em;
	flex-direction: column;
}

.landing-page &{
	
@include screen-immobile {
	margin-top: $boxMargin;
}
}
}

.site-inner,
.site-header,
.title-banner,
.footer-widgets,
.site-footer {
 	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
 	
@include screen-medium{ width: calc(100% - 2rem); }
@include screen-large{ width: calc(100% - 12rem); }
@include screen-full{ width: calc(100% - 20rem); }
}


.site-header .wrap,
.footer-widgets .wrap,
.site-footer .wrap, {	
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;

@include screen-immobile {
	//display: flex;
	//align-items: stretch;
	//justify-content: space-between;
	flex-direction: row;
}
}

.site-header {
	margin-top: 0;
	margin-bottom: 0;
	position: fixed; z-index: 1000;
	top: 0;
	
	.wrap {
		margin: 1em 0;
	
	@include screen-immobile{
		margin: 1em auto .5em;
		align-items: flex-end;
		justify-content: space-between;
		
		.title-area { flex: 1 0 auto; }
		
		.widget-area  { flex: 2 1 auto; }
	}
	
	@include screen-medium {
		align-items: initial;		
		justify-content: initial;
		flex-direction: column;
		
		.widget-area  {
			//margin-top: $boxMargin;
			}
	}
	}// .wrap

@include screen-immobile{
	position: static;
	background: none;
}

@include screen-small{ width: 100%; }

}//.site-header

.title-banner{
	margin-top: 1em; 
}

.site-inner {
 	margin-top: .5em;	 
 		
@include screen-medium{ margin-bottom: 1em; }
@include screen-large{ margin-bottom: 6em; }
@include screen-full{ margin-bottom: 10em; }
}

.content-sidebar-wrap {
	
	.sidebar-primary { margin: 1px;}

@include screen-immobile{
	display: flex;
	justify-content: space-between;

	.content { flex: 2; overflow: hidden;}
	
	.sidebar-primary { flex: 1; }

}

@include screen-medium {
	flex-direction: column;
	justify-content: space-around;

	.content { margin-right: 0; }
	
	.sidebar-primary { 
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin-top: 0;
	}
}

.landing-page &{
	display: block;
	flex: none;
	width: 100%;
	
	.content{
		margin-right: 0;
		margin-left: 0;
		flex: none;
	}
}
}//.content-sidebar-wrap


.footer-widgets {
	//margin-bottom: 0;

	.widget{ text-align: center;}

@include screen-immobile{
	@include spanFullWidth;
	
	.footer-widget-area {
			
		.widget{ text-align: left; }	
	}
	
	.footer-widgets-1  {
		flex: 3; 
		display: flex;
		align-content: flex-start;
		margin-right: $boxMargin;
			
		.widget{
			flex: 1 1;
			
			.widget-wrap { margin-left: $boxMargin;}
		
		&:first-child{ .widget-wrap {margin-left: 0;}
		}
		}
	}
		
	.footer-widgets-2 { flex: 1 0; }
}
@include screen-medium{
	
	.wrap { flex-direction: column; }
	
	.footer-widgets-1  { 
		flex: 1; 
		flex-direction: column; 
		
		.widget{
			.widget-wrap { margin-left: 0;}
		}
		}
}
}

.site-footer {
	//margin-top: 0;
	
&:not(.site-footer-landing) {
@include screen-immobile{
	@include spanFullWidth;
}	
}

&.site-footer-landing{

@include screen-immobile{	
	
	.landing-footer-column { flex: 1;}
}
}	
}