body {
	font-size: 100%;
	font-family: $serif;
}

h1 {
	font-size: 1.75em;

&.entry-title,
&.archive-title {
	font-family: $brand;
	font-weight: 400;

.home & {
	font-style: italic;
}
}
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
	margin: .25em 0 .5em;

.sidebar & {
	font-family: $brand;
	font-weight: normal;
}
}

h4 {
	font-size: 1.125em;
}

p {
	font-size: 1.0625em;
	margin: 0 0 1.5em;

.widget & {
	font-size: .9375rem;
}
&.entry-meta {
	font-size: 1rem;
}
}

ul,
ol {
	font-size: 1.0625rem;
	margin: 0 0 1.5em;

.widget & {
	font-size: .9375rem;
}
}

.btn,
button {
	font-size: 1.25em;
	
&.btn-med {
	font-size: 1.5em;
}
&.btn-lrg {
	font-size: 1.75em;
}
}

#menu-main-menu,
input[type=text],
input[type=email],
textarea {
	font-weight: 400;
	font-size: 1.125em;
	font-family: $sans;
}

#menu-main-menu {
	font-weight: 300;
	
	.sub-menu {
		font-size: 17px;
		font-size: 1.0625rem;
	}
}

.wpcf7-form {
	font-family: $sans;
.magnet-form & {
	font-family: sans-serif;
}
}

.entry-footer {
	font-family: $sans;
	font-weight: 300;
	font-size: 1rem;
}

.entry-meta {
	font-family: $sans;
	font-weight: 300;
}

.widget {
	font-family: $sans;	
	
	.tagcloud,
	.textwidget {
		//font-size: 1em;
	}
	
&.widget_search {
	font-weight: 300;
	
	input {
	font-size: 1.125em;
	font-family: inherit;
	font-weight: inherit;
	
	&[type=submit] {
		font-size: 14px;
		font-size: .875rem;
	}
	
	}
}
}

.archive-pagination {
	font-family: $sans;
	font-weight: 300;	
}


.service-plans {
	font-family: $sans;
	
	p {
		font-size: 1.25em;
		
		span {
			font-size: .75em;
		}
	}
}