body {
	font-size: 100%;
	font-family: $serif;
}

h1 {
	font-size: 2.25em;

&.entry-title {
	font-family: $brand;
	font-weight: 400;	
}
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
	margin: .25em 0 .5em;

.sidebar & {
	font-family: $brand;
	font-weight: normal;
}
}

h4 {
	font-size: 1.125em;
}

p {
	font-size: 1.0625em;
	margin: 0 0 1.5em;

.widget & {
	font-size: .9375rem;
}
}

ul,
ol {
	font-size: 1.0625rem;
	margin: 0 0 1.5em;

.widget & {
	font-size: .9375rem;
}
}


#menu-main-menu,
input[type=text],
input[type=search],
input[type=email],
textarea {
	font-size: 1.125em;
	font-family: $sans;
	font-weight: 400;
}

.wpcf7-form {
	font-family: $sans;
.magnet-form & {
	font-family: sans-serif;
}
}


.entry-meta {
	font-family: $sans;
	font-weight: 300;
	font-size: 1rem;	
}
.widget {
	font-family: $sans;	
	
	.tagcloud,
	.textwidget {
		//font-size: 1em;
	}	
}
