body {
	//background: $darkNeutral;
	background: #575757;
}

.site-header {
	//background: $darkNeutral;

}

.title-banner {
	
	.entry-title,
	.archive-title {
		color: $baseWhite;
	}
}

.content-sidebar-wrap{
	background: $baseWhite;

	
	
	.sidebar-primary {
		background: $medNeutral;	
		
		.widget {
			color: $lightNeutral;
			
			.widget-title{
				color: $darkNeutral;
			}
		}
	}

}

.footer-widgets {
	background: $brandBlue;
	
	.genesis-sidebar-title {
		font-family: $brand;
		color: $brandBlueLight;
	}
}

.site-footer {
	background: $brandBlue;
}