/*
.btn,
.button {
	background: $brightAccent;
	padding: .25em .5em;
	border-radius: 4px;
	text-decoration: none;
	font-style: normal;
	white-space: nowrap;
	
&.btn-med {
	font-size: 1.35em;
}
&.btn-lrg {
	font-size: 1.75em;
}
}
*/


a:not(.btn):not(.ui-tabs-anchor) {



.sidebar-primary & {
// 	color: $baseWhite;
}


// single page content inline links
.page .entry-content &, 
.post .entry-content & {
// 	color: $brandBlue;

&.read-more {
// 	white-space: nowrap;
}		

// &:visited{ color: $darkBlue; }
// &:hover{ color: $brightAccent; }
}
	
.site-footer & {
// 	color: $brightAccent;
}
}