.title-area {
	position: relative;

	.sitekick-logo {
	max-width: 200px;
	margin: 0 auto;
	
	a {
		@include sprite-responsive-calcs(250, 100, 0, 0, 'img/sprite.png');
	}

	@include screen-immobile {
		max-width: 250px;
	}
	@include screen-large {
		margin: 0 0;
	}
	}

	.menu-toggle {
		position: absolute;
		background-color: $brandBlueLight;
		color: $darkNeutral;
		right: 10px;
		bottom: -2px;
		width: 38px;
		height: 38px;
		cursor: pointer;
		border-radius: 5px;
		overflow: hidden;
	
		div {
			background-color: $brandBlueLight;
			@include sprite-responsive-calcs(50, 50, 250, 135, 'img/sprite.png');
		}
	
		
	&.active {
		background: $brightAccent;
		color: $baseWhite;
		
		div {
			background-color: $brandBlue;
			@include sprite-responsive-calcs(50, 50, 250, 185, 'img/sprite.png');
		}
	}
	
	@include screen-immobile {
		display: none;
	}
	}
}

.header-widget-area {
	max-height: 0;
	transition-property: max-height;
	transition-duration: 200ms;
	transition-timing-function: linear;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	justify-content: center;
	
	.widget {
		
	&.widget_nav_menu{ flex: 1;	}
	
	&.widget_search {
		flex: 1;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	
	@include screen-large {
		margin-top: 0;
		text-align: right;
	}
	}
		
	}//.widget
&.active {
	max-height: 1000px;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}
@include screen-immobile {
	max-height: none;
	overflow: visible;
	transition-property: none;
}
@include screen-full {
	max-height: none;
	transition-property: none;
	overflow: visible;
	align-items: flex-end;
	flex-flow: row-reverse nowrap;
	
	.widget {
		
	&.widget_nav_menu{ flex: 3;	}
	
	&.widget_search {
		margin-top: 0;
		margin-bottom: 0;
		white-space: nowrap;
		text-align: right;
	} 
	}
}
}//.header-widget-area

