.widget {
	font-family: $sans;
	
	.widget-title {
		font-family: $brand;
		font-weight: normal;
		font-size: 1.5em;
	}

	a {
		//color: $baseWhite;
	}
	
	h3 {
		font-size: 1em;
	}
	
	p {
		font-size: .875em;
	}
	
	ul {
		padding-left: .75em;
		margin-bottom: 1em;
		font-size: .875em;
		
	&.inline {
		overflow: hidden;
		list-style-position: inside;
		
		li {
			float: left;
			margin-right: 5px;
		}
	}
	}

.sidebar &{
	padding: 1em;
	margin-bottom: 0;
	
	.widget-title{
		margin-top: 0;
	}

&.widget-profile {
	
	.textwidget{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	
	@include screen-medium { flex-flow: row wrap; }
	}
	
	section {
		margin: 1em 0 .5em;
		flex: 0 1 48.5%;
		
	&.profile{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		
	}
	}
	
	.headshot {
		flex: 1;
		max-width: 135px;
		
		div{
			border: 2px solid $brandBlueLight;
			background-repeat: no-repeat;
			background-color: white;
			box-sizing: border-box;
			border-radius: 50%;
			@include sprite-responsive-calcs(131, 131, 250, 0, 'img/sprite.png');
		}
	}
	
	.info {
		flex: 2;
		margin-left: 10px;
		p { margin: 0;}
	}
	
}

@include screen-medium {
	flex: 0 1 calc(50% - 2em);

&.screen-medium-2 {
	flex: 2 0 calc(100% - 2em);;
}
}// .widget-profile
&:hover {
	//color: $baseWhite;
	//transition: color 1s ease;
}
}//.sidebar .widget

&.widget_search {
	
	.widget-wrap {
		overflow: visible;
		display: inline-block;
		
		.search-form {
			
			background-color: $brandBlueLight;
			padding: .225em;
			cursor: pointer;
			white-space: nowrap;
			
			input[type=search] {
				padding: .25em .25em .25em .1em;
				font-size: 18px;
				font-size: 1.125rem;
				border: 0;
				display: inline-block;
				vertical-align: middle;
				background-color: inherit;
				cursor: inherit;
				
			&::placeholder {
				color: $darkNeutral;
				opacity: 1;
			}
			}
		
			input[type=submit] {
				display: inline-block;
				vertical-align: middle;
				background: $brandBlue;
				border: 0;
				color: $baseWhite;
				padding: .55em;
				font-size: 14px;
				font-size: .875rem;
				cursor: pointer;
			}
		
		
		}

	}//.widget-wrap

@include screen-full {
	
	.widget-wrap {
		overflow: hidden;
		display: block;
		
		.search-form {
			float: right;
			background-color: $darkNeutral;
			border-width: 0;
			
			input[type=search] {
				padding: .5em .25em .5em .1em;	
			
			&::placeholder {
				color: $brandBlueLight;
				text-align: center;
			}
			}
			input[type=submit] { 
				display: none; 
			}
		
		&.focus {
			background-color: $brandBlueLight;
			cursor: text;
			
			input[type=search] {
			
			&::placeholder {
				color: $darkNeutral;
				text-align: left;
			}
			}
			
			input[type=submit] { 
				display: inline-block; 
				}
		}
		}

	}//.widget-wrap
}//	screen-full	
}//.widget_search


.footer-widget-area & {
	color: $baseWhite;
	
	.textwidget {
		font-style: italic;
		margin-bottom: 1em;
	}
}	
}//. widget